<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings>
    <add key="ConfigurationSettings" value="{'IncrementTime':'00:00:30','IntervalTime':'00:00:10','RetryCount':'4','SqlEndPointURI':'https://database.windows.net/','StoredProcedureName':'dbo.PublishAndExpire','TenantId':'79a08e9a-f874-4874-815a-233fbd37ea91'}" />
    </appSettings>
  <connectionStrings>
    <add name="WIP_SqlConnection" connectionString="Server=tcp:hondainfypoc.database.windows.net,1433;Database=hondawip;" />
    <add name="Staging_SqlConnection" connectionString="Server=tcp:hondainfypoc.database.windows.net,1433;Database=hondastaging;" />
    <add name="Active_SqlConnection" connectionString="Server=tcp:hondainfypoc.database.windows.net,1433;Database=hondactive;" />
  </connectionStrings>
      <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
</configuration>
